.text-themecolor{color: #dbb651!important;}

.text-deff {color: #dbb651 !important;}
.bg-def{background: #dbb651 !important;}
.bg-blue{background : #101c72!important;}

.sidebar-nav ul li a.active, .sidebar-nav ul li a:hover { color: #dbb651; }
.sidebar-nav > ul > li.active > a{ color: #dbb651 ; border-color: #dbb651 ; }
.sidebar-nav > ul > li.active > a i { color: #dbb651; }
.sidebar-nav ul li a.active i, .sidebar-nav ul li a:hover i { color: #dbb651; }

.modal-dialog{max-width: 700px;}
.btn-def {background: #dbb651 !important; color: #fff;}

.align-slef-center{text-align: center!important;}

#adduserform label.error{color: #d55b5b !important; font-size: 11px;}
#edituserform label.error{color: #d55b5b !important; font-size: 11px;}
#profileform label.error {
    color: #d55b5b !important; font-size: 11px; }
#adduserform input.error, #adduserform textarea.error, #adduserform select.error  { box-shadow: 0 0 3px #d92800 !important; border: 1px solid #d92800 !important; }
#edituserform input.error, #edituserform textarea.error, #edituserform select.error { box-shadow: 0 0 3px #d92800 !important; border: 1px solid #d92800 !important; }
.not_logged_in{display:block; width: 15px; height: 15px; border-radius: 50%; background: red; margin: 0 auto;}
.logged_in{display:block; width: 15px; height: 15px; border-radius: 50%; background: #61b35b; margin: 0 auto;}

.table{font-size: 12px;}

.swal2-popup{background-color: #e3e3e3!important;}

.actionsbtn a{display: inline-block;vertical-align: middle;margin: 0 4px;}

.modal-file{max-width: 500px!important;}

.paging_simple_numbers .pagination .paginate_button.active a, .paging_simple_numbers .pagination .paginate_button:hover a{background: #c39226; color: #ffffff;}

#profileform label{margin-bottom: 0!important;}

#profileform .form-material .form-control, .form-material .form-control.focus, .form-material .form-control:focus { background-image: linear-gradient( #c39226, #c6962e), linear-gradient(#e9edf2, #e9edf2); border: 0 none; border-radius: 0; box-shadow: none; float: none; }
#profileform .form-material .form-control{color: #222!important  ;}

.dashh6{min-height: 32px;}
.bg-succ { background: #a0b556 !important; }

.rowlegend{text-align: center;}
.rowlegend span{display: inline-block;vertical-align: top;margin: 0 25px;position: relative;}
.rowlegend span:first-child::before{background: #61b35b!important;}
.rowlegend span::before { content: ""; width: 15px; height: 15px; position: absolute; left: -24px; top: 3px; background: red; border-radius: 50%; }